/*
Button Styling
- SASS Methods Are Used e.g. Lighten(), it well lightens the colour defined in the
- Nesting Is Used To Demonstrate Specificity
- Mixins Are Used To Reduce The Code From Being DRY
*/

.button{
  @include border-radius (10px);  //Background Mixin With 1 Arguement
  border: none;
  outline: none;
  font-size: 20pt;
  padding: 10px 40px;
  @include breakpoint(sm) {
    padding: 10px 10px;
  }
  &:hover {
    outline: none;
  }
}

//Extends From Button, But Also Overrides The Button Default Mixin
#landing-button {
  @include breakpoint(md) {
    width: 75%;
  }
}

#contact-button {
  @include breakpoint(md) {
    width: 75%;
  }
}

